#cesiumContainer {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}

#maptip {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 10px;
    margin: 3px;
    border-radius: 5px;
    height: auto;
    padding: 5px;
    z-index: 10;
    color: rgb(95, 162, 240);
    font-size: 12px;
}

#maptip p {
    margin: 0px;
}

#tooltip {
    position: absolute;
    left: calc(0% + 3px);
    height: auto;
}

#tooltip p {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(95, 162, 240);
    font-size: 12px;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
}
#tooltip img {
    margin: 5px 0 0 4px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    float: left;
}

#direction {
    padding: 5px;
    color: rgb(95, 162, 240);
    border-radius: 3px;
    display: none;
    border: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    float: left;
    height: 25px;
    transform: translate(4px, 5px);
}

#info {
    position: absolute;
    right: 20px;
    top: 20px;
    /*width: 200px;
            height: 100px;*/
    background-color: white;
    color: blue;
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
    display: none;
}

#selector {
    position: absolute;
    right: 20px;
    top: 80px;
    padding: 10px;
    border-radius: 5px;
    /*display: none;*/
    border: 0px;
    background-color: white;
}

#progress {
    position: absolute;
    bottom: 2px;
    left: calc(0% + 3px);
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 8px;
    display: none;
    padding: 1px 2px;
    border-radius: 3px;
    margin: 0 0 0 3px;
}

#terrain-tip {
    position: absolute;
    bottom: 20px;
    left: calc(0% + 3px);
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 8px;
    display: none;
    padding: 1px 2px;
    border-radius: 3px;
    margin: 0 0 0 3px;
}

.cesium-widget-credits {
    display: none !important;
    visibility: hidden !important;
}

.station-info .layui-layer-btn {
    background-color: rgb(95, 162, 240);
}

.station-info .layui-layer-btn a {
    border-color: #fff;
    background-color: #fff;
    color: rgb(95, 162, 240);
}

.station-info .layui-layer-content {
    background-color: rgb(95, 162, 240);
}

.station-info .StationInfoContainer {
    margin: 5px;
}

.station-info img {
    height: 256px;
    width: 256px;
}

.station-info .StationName {
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.station-info .StationInfo {
    font-size: 14px;
    color: #fff;
}
